@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);
body{
  padding:0;
  margin:0;
  font-size:14px;
  font-family: "Exo 2", sans-serif;
  color: #333;  
  background-image: url('https://blog.oleomac.fr/wp-content/uploads/2019/08/hydrangea-3487664_1280.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.92;
}

a:hover {
  cursor: url('images/leaf_clover.cur'), pointer;
}

.card{
  position: relative;
  width: 450px;
  height: 700px;
  margin:30px auto;
  box-shadow: 0 0 100px rgba(0,0,0, .3);
  opacity: 1;
  background-color: #fff;
}

.card-header{
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: top;
}

.card-header:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(5,85,134), rgba(181,181,181, 0.1));
}

.card-header-bar{
  position: absolute;
  top:0;
  width: 100%;
  z-index: 1;
  width: 100%;
}

.logo{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  border: none;
  overflow: hidden;
}

svg .polygon{
  fill: #fff;
}
.card-header-slanted-edge{
  position: absolute;
  bottom: -3px;
  z-index: 1;
  width: 100%;
  right:0;
  left:0;
}

.btn-more{
  position: absolute;
  top: -15px;
  right: 25px;
  width: 45px;
  height: 45px;
  background: linear-gradient(to left, #2D77C1, #68FAC2);
  border-radius:100%;
  box-shadow: 0 10px 15px rgba(110,221,235, .53);
}

.btn-more:after{
  content: '';
  position:absolute;
  background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077480/profile-card/images/add.svg) no-repeat;
  width:17px;
  height: 17px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.btn-group {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.btn-group button {
  opacity: 0;
  pointer-events: auto;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  outline: none;
  background-size: cover;
  background-position: center;
}

.btn-more:hover ~ .btn-group button {
  opacity: 1;
  transform: translateY(0);
}

.btn-group button:nth-child(1) {
  background-image: url(https://pbs.twimg.com/profile_images/1204002755855159296/Vfl6OUly_400x400.jpg);
  transform: rotate(30deg) translate(150px) rotate(-30deg);
}

.btn-group button:nth-child(2) {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/0d/Waseda_University_Logo.svg/1200px-Waseda_University_Logo.svg.png);
  transform: rotate(0deg) translate(190px) rotate(0deg);
}

.btn-group button:nth-child(3) {
  background-image: url(https://pbs.twimg.com/profile_images/608009929526525952/cBajTPOW_400x400.jpg);
  transform: rotate(-30deg) translate(150px) rotate(30deg);
}

.card-body{
  text-align:center;
  padding-left: 10px;
}

.name{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.my-title{
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  color: #919191;
}

.bio{
  font-size: 14px;
  color: #7B7B7B;
  font-weight: 300;
  margin: 20px auto;
  margin-right: 30px;
  margin-left: 30px;
  line-height: 20px;
  text-align: justify;
}

.centered-text {
  text-align: center;
}

.social-accounts img{
  width: 15px;
}

.social-accounts a{
  margin-left: 10px;
}
.social-accounts a:first-child{
  margin-left: 0;
  margin-bottom: 40px;
}

.card-footer{

  left: 0;
  width: 100%;
  bottom: 20px;
}
.stat{
  box-sizing: border-box;
  width: calc(100% / 3);
  float: left;
  text-align: center;
  border-left: 1px solid #EBEBEB;
}
.stat .label{
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #95989A;
  margin-top: 30px;
}

.stat .value{
  display: block;
  font-weight: 700;
  font-size:20px;
  margin-top: 5px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

audio {
  margin: auto;
}
